body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 20px;
}

.font{
    font-size: 25px;
    font-weight: 130;
    font-style: initial;
}

.sticky{
    position: sticky;
    top: 0;
    border: 3px solid gray;
    text-align: center;
    padding: 25px;/*Abstand von dem Inhalt und Rand*/
    margin: 0;/*Abstand der Rand zu anderen Elementen*/
    Background:lightblue;
    border-radius: 10px 10px 10px 10px;
   /* border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;*/
}
.fixed{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    border: 3px solid gray;
    background-color: lightblue;
    text-align: center;
    padding: 25px;
    border-radius: 10px 10px 10px 10px;
}

.inline{
    display: inline-block;
    border: 3px solid gray;

    background-color: lightblue;

    text-align: center;

    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.block{
    display: block;
    border: 3px solid gray;

    background-color: lightblue;
    text-align: center;

    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
}

.image{
    width: 100%;
    height: auto;/*Auf diese Weise wird die Höhe des Elements mit der Klasse "image" automatisch an die Höhe des enthaltenen Bildes angepasst.*/
}